<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="styles/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="styles/vendor/superslides.css">
    <link rel="stylesheet" href="styles/vendor/owl.carousel.css">
    <link rel="stylesheet" href="styles/vendor/owl.transitions.css">
    <link rel="stylesheet" href="styles/vendor/flickity.min.css">
    <link rel="stylesheet" href="styles/vendor/swipebox.min.css">
    <link rel="stylesheet" href="styles/vendor/TimeCircles.css">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/demo.css">

    <link rel="stylesheet" href="styles/colors/color-yellow.css">
    <link rel="stylesheet" href="styles/colors/color-lightblue.css">
    <link rel="stylesheet" href="styles/colors/color-purple.css">
    <link rel="stylesheet" href="styles/colors/color-green.css">
    <link rel="stylesheet" href="styles/colors/color-militar.css">
    <link rel="stylesheet" href="styles/colors/color-caqui.css">
    <link rel="stylesheet" href="styles/colors/color-red.css">

    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body data-spy="scroll" data-target="#navbar-muziq" data-offset="80">
    
    <!-- LOADER -->
    <div id="mask">
        <div class="loader">
          <!-- <img src="images/loading.gif" alt='loading'> -->
          <div class="cssload-container">
            <div class="cssload-shaft1"></div>
            <div class="cssload-shaft2"></div>
            <div class="cssload-shaft3"></div>
            <div class="cssload-shaft4"></div>
            <div class="cssload-shaft5"></div>
            <div class="cssload-shaft6"></div>
            <div class="cssload-shaft7"></div>
            <div class="cssload-shaft8"></div>
            <div class="cssload-shaft9"></div>
            <div class="cssload-shaft10"></div>
        </div>
        </div>
    </div>

    <!-- HEADER -->
    <header id="jHeader">
      <nav class="navbar navbar-default" role="navigation">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
        </div>
       
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbar-muziq">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html#anchor01">Events</a></li>
            <li><a href="index.html#anchor02">Artists</a></li>
            <li><a href="index.html#anchor03">About</a></li>
            <li><a href="index.html#anchor04">Albums</a></li>
            <li><a href="index.html#anchor05">Gigs</a></li>
            <li class="active"><a href="index.html#anchor06">Gallery</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="#anchor08">Contact</a></li>
          </ul>
        </div>

      </nav>
    </header>
    
    <!-- INTRO -->
    <section class="intro intro-mini full-width jIntro bg-blog" id="anchor00">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h1 class="primary-title">Blog</h1>
              <h2 class="subtitle-text">Latest music news and reviews</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- POST -->
    <div class="section blog single-post" id="anchor07">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <article class="post-details">
              <img class="featured-image" src="images/demo/blog/post.jpg">
              <h4 class="title small"><span class="gray">Posted by:</span> admin | music, concert <span class="right"><i class="fa fa-commenting-o"></i> 3 comments</span></h4>
              <h3 class="title post-detail">KYgo Brings the tropical house feels on new single 'stay'</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempus ex ac venenatis egestas. Praesent sed consectetur est. Aenean ornare volutpat orci, suscipit finibus purus molestie ac. Duis ut convallis est, sit amet viverra velit. Proin ac sem iaculis, blandit eros vel, pulvinar dolor. Sed nec tortor vitae lacus laoreet elementum. Integer rhoncus elit eu diam rutrum, id luctus enim fermentum. Sed ullamcorper tristique magna ac lobortis. Nunc feugiat sem non mi scelerisque, eu blandit sem consectetur. Sed quis augue tempor, sollicitudin nibh eget, tristique lorem.</p>
              <p class="quote-post">“Duis ut convallis est, sit amet viverra velit. Proin ac sem iaculis, blandit eros vel, pulvinar dolor. Sed nec tortor vitae lacus laoreet elementum  tortor lacus laoreet elementum. Integer rhoncus elit eu diam rutrum”</p>
              <p>Nulla imperdiet tristique lorem. Nunc in cursus tortor. Nulla in finibus leo, eget porta enim. Curabitur ut magna facilisis, blandit elit nec, placerat orci. Proin lorem risus, aliquam in sodales in, interdum vitae ex. Aenean blandit, quam sed aliquam sodales, nisi magna faucibus ante, nec fringilla ante diam nec justo. Duis ut bibendum quam. Nam volutpat lorem cursus, congue elit et, lacinia diam. Pellentesque elementum nibh neque.</p>
              
              <div class="voffset120"></div>

              <div class="post-author">
                <h4 class="title small">about the author</h4>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="images/demo/blog/author-post.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe</h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
              </div>

              <div class="voffset60"></div>
              
              <div class="post-comments">
                <h4 class="title small">12 comments</h4>

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="images/person.png" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>Sept 25, 2014 at 9:30 pm</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <span class="reply">Reply</span>

                        <hr>

                        <!-- Nested Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="images/person.png" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Nested Start Bootstrap
                                    <small>Sept 25, 2014 at 9:30 pm</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                <span class="reply">Reply</span>
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                    
                    <hr>
                    
                    <!-- Comment -->
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="images/person.png" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Start Bootstrap
                                <small>Sept 25, 2014 at 9:30 pm</small>
                            </h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            <span class="reply">Reply</span>
                        </div>
                    </div>
                </div>
              </div>
              
              <div class="voffset80"></div>

              <div class="post-reply">
                <h4 class="title small">Leave a reply</h4>
                <form action="#">
                  <input type="text" class="form-control" placeholder="Name:">
                  <input type="email" class="form-control" placeholder="Email:">
                  <input type="text" class="form-control" placeholder="Website:">
                  <textarea class="form-control" rows="7" placeholder="Message:"></textarea>
                  <input type="submit" value="Submit" class="btn rounded">
                </form>
              </div>
            </article>
          </div>

          <div class="col-md-3">
            <div class="sidebar">

              <div class="title small">Search</div>
              <div class="input-group search">
                <input type="text" class="form-control" placeholder="enter keyword">
                <span class="input-group-btn">
                  <button type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>

              <div class="title small">Social widget</div>
              <ul class="social">
                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li class="flickr"><a href="#"><i class="fa fa-flickr"></i></a></li>
                <li class="tumblr"><a href="#"><i class="fa fa-tumblr"></i></a></li>
                <li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
              </ul>

              <div class="advertisment">
                <div class="vcenter">
                  <p>advertisiment</p>
                  <p>300 x 250</p>
                </div>
              </div>

              <div class="voffset50"></div>

              <div class="title small">instagram feed</div>
              <div class="instagram-feed">
                <ul>
                  <li><img src="images/demo/blog/instagram1.jpg" alt=""></li>
                  <li><img src="images/demo/blog/instagram2.jpg" alt=""></li>
                  <li><img src="images/demo/blog/instagram3.jpg" alt=""></li>
                  <li><img src="images/demo/blog/instagram4.jpg" alt=""></li>
                  <li><img src="images/demo/blog/instagram5.jpg" alt=""></li>
                  <li><img src="images/demo/blog/instagram6.jpg" alt=""></li>
                </ul>
              </div>

              <div class="title small">Recent posts</div>
              <div class="last-posts-sidebar">
                <ul>
                  <li>
                    <a href="#" class="pull-left">
                      <img src="images/demo/blog/recent-post1.jpg" alt="">
                    </a>
                    <div class="title-post">
                      <div class="date">31 May, 2015</div>
                      <p>Create your next website with Unity.</p>
                    </div>
                  </li>
                  <li>
                    <a href="#" class="pull-left">
                      <img src="images/demo/blog/recent-post2.jpg" alt="">
                    </a>
                    <div class="title-post">
                      <div class="date">31 May, 2015</div>
                      <p>Create your next website with Unity.</p>
                    </div>
                  </li>
                  <li>
                    <a href="#" class="pull-left">
                      <img src="images/demo/blog/recent-post3.jpg" alt="">
                    </a>
                    <div class="title-post">
                      <div class="date">31 May, 2015</div>
                      <p>Create your next website with Unity.</p>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="title small">Tags</div>
              <div class="list-tags">
                <ul>
                  <li><a href="#">web design</a></li>
                  <li><a href="#">development</a></li>
                  <li><a href="#">css</a></li>
                  <li><a href="#">studio</a></li>
                  <li><a href="#">award</a></li>
                  <li><a href="#">mobile</a></li>
                  <li><a href="#">ios</a></li>
                  <li><a href="#">ui / ux</a></li>
                  <li><a href="#">portfolio</a></li>
                </ul>
              </div>

              <div class="title small">Comments</div>
              <ul class="menu-sidebar">
                <li class="active">recent</li>
                <li>popular</li>
              </ul>
              <div class="last-comments">                
                <ul>
                  <li>
                    <div class="header-comment">
                      <a href="#" class="pull-left">
                        <img src="images/demo/blog/comments1.jpg" alt="">
                      </a>
                      <div class="title-post">
                        <div class="date">1 hour ago</div>
                        <p>Ethan Martin say:</p>
                      </div>
                    </div>
                    <div class="comment">
                      <p>“ Thanks so much for the awesome customer service. So many companies, large and small, have a lot to learn from you. Great job! ”</p>
                    </div>
                  </li>
                  <li>
                    <div class="header-comment">
                      <a href="#" class="pull-left">
                        <img src="images/demo/blog/comments2.jpg" alt="">
                      </a>
                      <div class="title-post">
                        <div class="date">1 hour ago</div>
                        <p>Ethan Martin say:</p>
                      </div>
                    </div>
                    <div class="comment">
                      <p>“ Thanks so much for the awesome customer service. So many companies, large and small, have a lot to learn from you. Great job! ”</p>
                    </div>
                  </li>
                  <li>
                    <div class="header-comment">
                      <a href="#" class="pull-left">
                        <img src="images/demo/blog/comments3.jpg" alt="">
                      </a>
                      <div class="title-post">
                        <div class="date">1 hour ago</div>
                        <p>Ethan Martin say:</p>
                      </div>
                    </div>
                    <div class="comment">
                      <p>“ Thanks so much for the awesome customer service. So many companies, large and small, have a lot to learn from you. Great job! ”</p>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="title small"><i class="fa fa-twitter"></i> Twitter widget</div>
              <div class="last-tweets">
                <ul>
                  <li>
                    <div class="header-comment">
                      <a href="#" class="pull-left">
                        <img src="images/demo/blog/tweet.jpg" alt="">
                      </a>
                      <div class="title-post">
                        <div class="date">‏@EnvatoMarket  1h</div>
                        <p>Envato Market</p>
                      </div>
                    </div>
                    <div class="tweet">
                      <p>“ Thanks so much for the awesome customer service. So many companies, large and small, have a lot to learn from you. Great job! ”</p>
                    </div>
                  </li>
                  <li>
                    <div class="header-comment">
                      <a href="#" class="pull-left">
                        <img src="images/demo/blog/tweet.jpg" alt="">
                      </a>
                      <div class="title-post">
                        <div class="date">‏@EnvatoMarket  1h</div>
                        <p>Envato Market</p>
                      </div>
                    </div>
                    <div class="tweet">
                      <p>“ Thanks so much for the awesome customer service. So many companies, large and small, have a lot to learn from you. Great job! ”</p>
                    </div>
                  </li>
                  <li>
                    <div class="header-comment">
                      <a href="#" class="pull-left">
                        <img src="images/demo/blog/tweet.jpg" alt="">
                      </a>
                      <div class="title-post">
                        <div class="date">‏@EnvatoMarket  1h</div>
                        <p>Envato Market</p>
                      </div>
                    </div>
                    <div class="tweet">
                      <p>“ Thanks so much for the awesome customer service. So many companies, large and small, have a lot to learn from you. Great job! ”</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- CONTACTS -->
    <section class="section inverse-color contact" id="anchor08">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="voffset70"></div>
            <div class="separator-icon">
              <i class="fa fa fa-microphone"></i>
            </div>
            <div class="voffset30"></div>
            <p class="pretitle">get it touch</p>
            <div class="voffset20"></div>
            <h2 class="title">say hello!</h2>
            <div class="voffset80"></div>
          </div>
        </div>       
        <div class="row">
          <div class="col-sm-6 col-md-7">
            <form action="mail.php" method="post" id="contactform" class="contact-form">
              <div class="form-group">
                <label class="title small" for="name">Your name:</label>
                <input type="text" placeholder="Full Name" name="name" id="name" class="text name required">
              </div>
              
              <div class="form-group">
                <label class="title small" for="email">Your email:</label>
                <input type="email" placeholder="Your Email" name="email" id="email" class="text email required">
              </div>
              
              <div class="form-group">
                <label class="title small" for="message">Your message:</label>
                <textarea name="message" class="text area required" id="message" placeholder="Type Message"></textarea>
              </div>

              <!-- <div class="formSent"><p><strong>Your Message Has Been Sent!</strong> Thank you for contacting us.</p></div> -->
              <input type="submit" value="Submit" class="btn rounded">   
              <div class="voffset80"></div>            
            </form>
          </div>
          <div class="col-sm-6 col-md-5">
            <div class="col-contact">
              <h4 class="title small">Music studio</h4>
              <div class="voffset20"></div>
              <p>1814 NE Miami Gardens Drive Suite #1007</p>
              <p>North Miami Beach, FL, 333179</p>
              <ul class="contact">
                <li><i class="fa fa-phone"></i> 1.800.987.7890</li>
                <li><i class="fa fa-envelope"></i> booking@visionmax.com</li>
              </ul>
              <h4 class="title small">Get socialized with us</h4>
              <ul class="social-links">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- FOOTER -->
    <footer>
      <div class="container">
        <p class="copy">© 2016. All Rights Reserved. Designed by JellyThemes</p>
        <ul class="menu-footer">
          <li><a href="#">disclaimer</a></li>
          <li><a href="#">terms & conditions</a></li>
          <li><a href="#">privacy policy</a></li>
        </ul>
      </div>
    </footer>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script src="scripts/vendor/jquery.js"></script>
    <script src="scripts/vendor/jquery.superslides.min.js"></script>
    <script src="scripts/vendor/flickity.pkgd.js"></script>
    <script src="scripts/vendor/audio.min.js"></script>
    <script src="scripts/vendor/twitterFetcher_min.js"></script>
    <script src="scripts/vendor/isotope.pkgd.min.js"></script>
    <script src="scripts/vendor/jquery.swipebox.min.js"></script>
    <script src="scripts/vendor/TimeCircles.js"></script>
    <script src="scripts/vendor/owl.carousel.min.js"></script>
    <script src="scripts/vendor/jquery.parallax.min.js"></script>

    <script src="scripts/discography.js"></script>
    <script src="scripts/news.js"></script>
    <script src="scripts/main.js"></script>

    <script src="scripts/vendor/bootstrap.js"></script>
    
  </body>
</html>