<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Muziq theme</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="styles/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="styles/vendor/superslides.css">
    <link rel="stylesheet" href="styles/vendor/owl.carousel.css">
    <link rel="stylesheet" href="styles/vendor/owl.transitions.css">
    <link rel="stylesheet" href="styles/vendor/flickity.min.css">
    <link rel="stylesheet" href="styles/vendor/swipebox.min.css">
    <link rel="stylesheet" href="styles/vendor/TimeCircles.css">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/demo.css">

    <link rel="stylesheet" href="styles/colors/color-yellow.css">
    <link rel="stylesheet" href="styles/colors/color-lightblue.css">
    <link rel="stylesheet" href="styles/colors/color-purple.css">
    <link rel="stylesheet" href="styles/colors/color-green.css">
    <link rel="stylesheet" href="styles/colors/color-militar.css">
    <link rel="stylesheet" href="styles/colors/color-caqui.css">
    <link rel="stylesheet" href="styles/colors/color-red.css">
    
    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body data-spy="scroll" data-target="#navbar-muziq" data-offset="80">
    
    <!-- LOADER -->
    <div id="mask">
        <div class="loader">
          <!-- <img src="images/loading.gif" alt='loading'> -->
          <div class="cssload-container">
            <div class="cssload-shaft1"></div>
            <div class="cssload-shaft2"></div>
            <div class="cssload-shaft3"></div>
            <div class="cssload-shaft4"></div>
            <div class="cssload-shaft5"></div>
            <div class="cssload-shaft6"></div>
            <div class="cssload-shaft7"></div>
            <div class="cssload-shaft8"></div>
            <div class="cssload-shaft9"></div>
            <div class="cssload-shaft10"></div>
        </div>
        </div>
    </div>
    
    <!-- HEADER -->
    <header id="jHeader">
      <nav class="navbar navbar-default" role="navigation">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" 
                  data-target=".navbar-ex1-collapse">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index-multipages.html"><img src="images/logo.png" alt="logo"/></a>
        </div>
       
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbar-muziq">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="index-multipages.html">Home</a></li>
            <li><a href="artists.html">Artists</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="albums.html">Albums</a></li>
            <li><a href="gigs.html">Gigs</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="blog-multipages.html">Blog</a></li>
            <li><a href="shop-multipages.html">Shop</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>

      </nav>
    </header>
    
    <!-- INTRO -->
    <section class="intro full-width jIntro" id="anchor00">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="slider-intro">
              <div id="slides">
                <div class="overlay"></div>
                <div class="slides-container">
                  <img src="images/demo/intro/intro-slide1.jpg" alt="slide1">
                  <img src="images/demo/intro/intro-slide2.jpg" alt="slide2">
                  <img src="images/demo/intro/intro-slide3.jpg" alt="slide3">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="vcenter text-center text-overlay">
          <div class="logo-intro"><img src="images/demo/logo-intro.png" alt=""></div>
          <div id="owl-main-text" class="owl-carousel">
            <div class="item">
              <h1 class="primary-title">Discover Music</h1>
            </div>
            <div class="item">
              <h1 class="primary-title">Music is Life</h1>
            </div>
          </div>
          <h2 class="subtitle-text">Share & Promote your music online</h2>
          <div class="voffset50"></div>
          <a href="#" class="btn btn-invert">Learn more</a>
        </div>

      </div>
    </section>
    
    <!-- PLAYER -->
    <div class="player horizontal">
      <div class="container">
        <div class="info-album-player">
          <div class="album-cover" id="bg-image3"></div>
          <p class="album-title">Spectrum</p>
          <p class="artist-name">Album by Blummsday</p>
        </div>
        <div class="player-content">
          <audio preload></audio>
          <ol class="playlist">
            <li><a href="#" data-src="mp3/01Electronica_Music_by_Igormaykop951_preview.mp3">Destiny</a></li>
            <li><a href="#" data-src="mp3/02Indie_Rock_Music_by_OctoSound_preview.mp3">Sunless</a></li>
            <li><a href="#" data-src="mp3/03preview_mp3.mp3">Deep inspire</a></li>
          </ol>
          <div class="nextprev">
            <span class="prev">prev</span>
            <span class="next">next</span>
          </div>
          <span class="btnloop">loop</span>
        </div>
      </div>
    </div>
    
    <!-- UPCOMING EVENTS -->
    <section class="section upcomming-events" id="anchor01">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="voffset70"></div>
            <div class="separator-icon">
              <i class="fa fa-ticket"></i>
            </div>
            <div class="voffset30"></div>
            <p class="pretitle">get read for the summer 2016</p>
            <div class="voffset20"></div>
            <h2 class="title">upcoming events</h2>
            <div class="voffset80"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="upevents">
              <div class="upevent">
                <div class="contain">
                  <div class="bg-image" style="background-image: url('images/demo/events/photo-event1.jpg')"></div>
                  <div class="content">
                    <div class="voffset80"></div>
                    <div class="date">03<span>d</span> 16<span>h</span> 20<span>m</span> 10<span>s</span></div>
                    <div class="separator tag"><span>featured</span></div>
                    <div class="title">Beach party music</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla error reiciendis, magni fuga quod quos officia fugiat.</p>
                    <p class="buttons">
                      <a href="#" class="btn rounded icon"><i class="fa fa-ticket"></i> buy ticket</a>
                      <a href="#" class="btn rounded border">View details</a>
                    </p>
                    <div class="voffset70"></div>
                    <div class="posted"><span>posted:</span> 02 november, 2016</div>
                  </div>
                </div>
              </div>
              <div class="upevent">
                <div class="contain">
                  <div class="bg-image" style="background-image: url('images/demo/events/photo-event2.jpg')"></div>
                  <div class="content">
                    <div class="voffset30"></div>
                    <div class="date">03<span>d</span> 16<span>h</span> 20<span>m</span> 10<span>s</span></div>
                    <div class="separator tag"><span>featured</span></div>
                    <div class="title">Rock live music event</div>
                    <p class="buttons">
                      <a href="#" class="btn rounded icon"><i class="fa fa-ticket"></i> buy ticket</a>
                      <a href="#" class="btn rounded border">View details</a>
                    </p>
                    <div class="posted"><span>posted:</span> 02 november, 2016</div>
                  </div>
                </div>
              </div>
              <div class="upevent">
                <div class="contain">
                  <div class="bg-image" style="background-image: url('images/demo/events/photo-event3.jpg')"></div>
                  <div class="content">
                    <div class="voffset80"></div>
                    <div class="date">03<span>d</span> 16<span>h</span> 20<span>m</span> 10<span>s</span></div>
                    <div class="separator tag"><span>popular</span></div>
                    <div class="title">HIP HOP Party Music</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla error reiciendis, magni fuga quod quos officia fugiat.</p>
                    <p class="buttons">
                      <a href="#" class="btn rounded icon unactive"><i class="fa fa-ticket"></i> closed</a>
                      <a href="#" class="btn rounded border">View details</a>
                    </p>
                    <div class="voffset70"></div>
                    <div class="posted"><span>posted:</span> 02 november, 2016</div>
                  </div>
                </div>
              </div>
              <div class="upevent">
                <div class="contain">
                  <div class="bg-image" style="background-image: url('images/demo/events/photo-event4.jpg')"></div>
                  <div class="content">
                    <div class="voffset80"></div>
                    <div class="date">03<span>d</span> 16<span>h</span> 20<span>m</span> 10<span>s</span></div>
                    <div class="separator tag"><span>featured</span></div>
                    <div class="title">INDIE <br>MUSIC show</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla error reiciendis, magni fuga quod quos officia fugiat.</p>
                    <p class="buttons">
                      <a href="#" class="btn rounded icon"><i class="fa fa-ticket"></i> buy ticket</a>
                      <a href="#" class="btn rounded border">View details</a>
                    </p>
                    <div class="voffset70"></div>
                    <div class="posted"><span>posted:</span> 02 november, 2016</div>
                  </div>
                </div>
              </div>
              <div class="upevent">
                <div class="contain">
                  <div class="bg-image" style="background-image: url('images/demo/events/photo-event5.jpg')"></div>
                  <div class="content">
                    <div class="voffset30"></div>
                    <div class="date">03<span>d</span> 16<span>h</span> 20<span>m</span> 10<span>s</span></div>
                    <div class="separator tag"><span>recent</span></div>
                    <div class="title">awesome music event</div>
                    <p class="buttons">
                      <a href="#" class="btn rounded icon"><i class="fa fa-ticket"></i> buy ticket</a>
                      <a href="#" class="btn rounded border">View details</a>
                    </p>
                    <div class="posted"><span>posted:</span> 02 november, 2016</div>
                  </div>
                </div>
              </div>
              <div class="upevent">
                <div class="contain">
                  <div class="bg-image" style="background-image: url('images/demo/events/photo-event6.jpg')"></div>
                  <div class="content">
                    <div class="voffset30"></div>
                    <div class="date">03<span>d</span> 16<span>h</span> 20<span>m</span> 10<span>s</span></div>
                    <div class="separator tag"><span>featured</span></div>
                    <div class="title">country music</div>
                    <p>Proin gravida nibh vel velit auctor aliquet.</p>
                    <p class="buttons">
                      <a href="#" class="btn rounded icon"><i class="fa fa-ticket"></i> buy ticket</a>
                      <a href="#" class="btn rounded border">View details</a>
                    </p>
                    <div class="posted"><span>posted:</span> 02 november, 2016</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="voffset80"></div>
    </section>
    
    <!-- TWITTER -->
    <section class="section twitterfeed inverse-color full-width parallax-section" data-parallax-image="images/demo/twitter/bg-twitter.jpg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <i class="fa fa-twitter"></i>
            <div id="twitter-feed"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- CONTACTS -->
    <section class="section inverse-color contact" id="anchor08">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="voffset70"></div>
            <div class="separator-icon">
              <i class="fa fa fa-microphone"></i>
            </div>
            <div class="voffset30"></div>
            <p class="pretitle">get it touch</p>
            <div class="voffset20"></div>
            <h2 class="title">say hello!</h2>
            <div class="voffset80"></div>
          </div>
        </div>       
        <div class="row">
          <div class="col-sm-6 col-md-7">
            <form action="mail.php" method="post" id="contactform" class="contact-form">
              <div class="form-group">
                <label class="title small" for="name">Your name:</label>
                <input type="text" placeholder="Full Name" name="name" id="name" class="text name required">
              </div>
              
              <div class="form-group">
                <label class="title small" for="email">Your email:</label>
                <input type="email" placeholder="Your Email" name="email" id="email" class="text email required">
              </div>
              
              <div class="form-group">
                <label class="title small" for="message">Your message:</label>
                <textarea name="message" class="text area required" id="message" placeholder="Type Message"></textarea>
              </div>

              <!-- <div class="formSent"><p><strong>Your Message Has Been Sent!</strong> Thank you for contacting us.</p></div> -->
              <input type="submit" value="Submit" class="btn rounded">   
              <div class="voffset80"></div>            
            </form>
          </div>
          <div class="col-sm-6 col-md-5">
            <div class="col-contact">
              <h4 class="title small">Music studio</h4>
              <div class="voffset20"></div>
              <p>1814 NE Miami Gardens Drive Suite #1007</p>
              <p>North Miami Beach, FL, 333179</p>
              <ul class="contact">
                <li><i class="fa fa-phone"></i> 1.800.987.7890</li>
                <li><i class="fa fa-envelope"></i> booking@visionmax.com</li>
              </ul>
              <h4 class="title small">Get socialized with us</h4>
              <ul class="social-links">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- FOOTER -->
    <footer>
      <div class="container">
        <p class="copy">© 2016. All Rights Reserved. Designed by JellyThemes</p>
        <ul class="menu-footer">
          <li><a href="#">disclaimer</a></li>
          <li><a href="#">terms & conditions</a></li>
          <li><a href="#">privacy policy</a></li>
        </ul>
      </div>
    </footer>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script src="scripts/vendor/jquery.js"></script>
    <script src="scripts/vendor/jquery.superslides.min.js"></script>
    <script src="scripts/vendor/flickity.pkgd.js"></script>
    <script src="scripts/vendor/audio.min.js"></script>
    <script src="scripts/vendor/twitterFetcher_min.js"></script>
    <script src="scripts/vendor/isotope.pkgd.min.js"></script>
    <script src="scripts/vendor/jquery.swipebox.min.js"></script>
    <script src="scripts/vendor/TimeCircles.js"></script>
    <script src="scripts/vendor/owl.carousel.min.js"></script>
    <script src="scripts/vendor/jquery.parallax.min.js"></script>

    <script src="scripts/discography.js"></script>
    <script src="scripts/news.js"></script>
    <script src="scripts/main.js"></script>

    <script src="scripts/vendor/bootstrap.js"></script>

  </body>
</html>
