<div class="content-lastnew">
    <div class="close-btn close-new"></div>
    
    <iframe src="https://embed.spotify.com/?uri=spotify:album:6vQMbwthchxuSioACn2hcE" width="780" height="80" frameborder="0"></iframe>
    <br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente temporibus, sunt quidem fugit unde ab culpa perferendis ut ex. Possimus, nam expedita maxime magni qui reiciendis nihil, alias quae. Temporibus.</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem est, eum quaerat suscipit cupiditate, voluptatum magnam dolore, reprehenderit maiores id ullam doloremque aspernatur cumque sunt iste. Tenetur sapiente commodi aliquid.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed repudiandae, officiis. Maxime neque similique doloremque eveniet, minima, quam perspiciatis, dolore, sapiente quisquam error tenetur rem vitae ratione. Atque, asperiores voluptatem?</p>
</div>